@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Roboto:wght@700&display=swap');

article {
    background-color: #222222;
    padding: 1rem;
}

/** Text styles */
.heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 102px;
    line-height: 120px;
    color: #222222;
}

.card-heading {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
}

.card-text {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.link-heading {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
}

.link-text {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

/** Buttons **/
.button {
    background-color: #E83F57;
    border-radius: 4px;
    color: #FFFFFF;
    border: #E83F57;
    padding: 0.5rem 1rem;
}

/** Components **/
.card {
    max-width: 18.75rem;
    color: #ffffff;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
}

.card-big {
    max-width: 30.25rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.card-big figure {
    width: 100%;
    margin: 0;
}

.card-big figure img {
    width: 100%;
}