<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="components.css">
</head>
<body>
    <section>
        <h2>Text styles</h2>
        <h1 class="heading">Postershop</h1>
        <article>
            <h2 class="card-heading">Clown</h2>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure quisquam consequuntur consequatur delectus quidem, at modi repudiandae accusantium ipsam tenetur, voluptate dolorum ea perferendis quas eveniet quae molestias tempora sint?</p>
        </article>
        <h2 class="link-heading">Nav</h2>
        <p class="link-text">About us</p>
    </section>
    <section>
        <h2>Buttons</h2>
        <button class="button">Add to cart</button>
    </section>
    <section>
        <h2>Components</h2>
    </section>
</body>
</html>